$mainColor1: #29be9e;
$mainColor2: #066b44;
$textColor: #000000;
$onHoverColor: #1856b3;

* {
  font-family: 'Rubik', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dad8d8;
}

.container {
  height: 100%;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  &__stopwatch {
    width: 80%;

  }
}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  &__block {
    width: 150px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .time {
      background-color: $mainColor1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      height: 150px;
      font-size: 95px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    .title {
      background-color: $mainColor2;
      padding: 5px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      color: #ffffff;
    }
  }
  &__block:not(:last-child) {
    margin-right: 10px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 110px;
  .button {
    border: 3px solid #ffffff;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: .2s ease-in-out;
    cursor: pointer;
    &.start, &.pause {
      color: $textColor;
      &:hover {
        background-color: $onHoverColor;
        color: #ffffff;
      }
    }
    &.stop {
      &:hover {
        background-color: #d30707;
        color: #ffffff;
      }
    }
    &.new {
      &:hover:enabled {
          background-color: $onHoverColor;
          color: #ffffff;
        }
      &:disabled {
        background-color: none;
        cursor: not-allowed;
      }
    }
  }
}

.results__block {
  width: 250px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: $textColor;
  font-size: 18px;
  padding: 15px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .clear {
      border: none;
      font-size: 20px;
      font-style:normal;
      cursor: pointer;
    }
  }
  .results__info {
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    &__stopwatch {
      width: 90%;
    }
  }
  .results__block {
    margin-top: 60px;
  }
}