* {
  font-family: 'Rubik', monospace;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #dad8d8;
}

.container {
  height: 100%;
  margin: 0 auto;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__stopwatch {
  width: 80%;
}

.stopwatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stopwatch__block {
  width: 150px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stopwatch__block .time {
  background-color: #29be9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  height: 150px;
  font-size: 95px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.stopwatch__block .title {
  background-color: #066b44;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: #ffffff;
}

.stopwatch__block:not(:last-child) {
  margin-right: 10px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 110px;
}

.buttons .button {
  border: 3px solid #ffffff;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.buttons .button.start, .buttons .button.pause {
  color: #000000;
}

.buttons .button.start:hover, .buttons .button.pause:hover {
  background-color: #1856b3;
  color: #ffffff;
}

.buttons .button.stop:hover {
  background-color: #d30707;
  color: #ffffff;
}

.buttons .button.new:hover:enabled {
  background-color: #1856b3;
  color: #ffffff;
}

.buttons .button.new:disabled {
  background-color: none;
  cursor: not-allowed;
}

.results__block {
  width: 250px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #000000;
  font-size: 18px;
  padding: 15px;
}

.results__block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results__block .wrapper .clear {
  border: none;
  font-size: 20px;
  font-style: normal;
  cursor: pointer;
}

.results__block .results__info {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__stopwatch {
    width: 90%;
  }
  .results__block {
    margin-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */